
body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction:  column;
    background-color: black;
}

canvas {
    max-width: 100%;
    height: auto;
    display: block;
    background-color: black;
}